[submodule "external/openvdb"]
	path = external/openvdb
	url = https://github.com/AcademySoftwareFoundation/openvdb.git
	ignore = dirty
[submodule "external/cs248a-renderer"]
	path = external/cs248a-renderer
	url = git@github.com:scottdmilner/cs248-renderer.git
[submodule "external/StyleID/src"]
	path = external/StyleID/src/StyleID
	url = https://github.com/jiwoogit/StyleID.git
